Source: kernel-autoremove
Section: misc
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper ( >= 7 )
Homepage: https://github.com/luisgg
Standards-Version: 3.9.3

Package: kernel-autoremove
Architecture: all
Depends: upstart, ${misc:Depends}
Description: removes obsolete kernel and headers packages
 This packages checks periodically installed kernel and headers
 packages. Older packages are automagically removed.
 The intended use is to free space in servers (specially in /boot,
 because this directory tends to get full due to kernel upgrades)
